<div class="w-full border-border border-[1px] lg:w-[30rem] shadow-[5px_20px_100px_10px_#00000024] flex flex-col items-center justify-center gap-6 px-10 py-8 rounded-xl bg-white">
    <div class="flex items-center justify-center border-slate-300 w-10 h-10 border-[1px] border-border rounded-full">
        <ng-icon hlm class="text-slate-500" name="lucideShieldUser"/>
    </div>
    <div class="flex flex-col justify-center items-center gap-4">
        <h1 class="flex text-2xl font-light text-center">Enter Verification Code</h1>
        <p class="text-slate-500">We've sent a security code to <span class="font-bold text-slate-800">{{ sampleEmail() | emailMask }}</span></p>
    </div>
    <div class="flex items-center justify-center">
        <ng-otp-input [formControl]="secureCode" [config]="optConfig"></ng-otp-input>
    </div>
    <button (click)="submit()" class="w-full py-6 rounded-xl" hlmBtn>Submit</button>
    <div class="flex flex-col justify-center items-center">
        <p class="text-slate-500">Experiencing issues recieving the code?</p>
        <button (click)="resendOtp()" variant="link" class="w-full py-6 rounded-xl" hlmBtn>
            Resend Code in {{ countdown() }}s   
        </button>
    </div>
</div>