<div class="bg-white rounded-xl border-[1px] shadow-[5px_20px_100px_10px_#00000024] w-[40rem] mx-auto p-4">
    <h1 class="text-3xl font-bold text-center mb-6 text-gray-800">Mini Reader</h1>

    <textarea
      hlmInput
      [(ngModel)]="textContent"
      placeholder="Enter text to read..."
      class="w-full h-48 rounded-md p-4 mb-4"
    ></textarea>

    <div class="flex flex-wrap gap-4 justify-center mb-4">
      <button
        (click)="startReading()"
        hlmBtn
        [disabled]="isReading()"
        class="font-bold py-2 px-4 rounded-md transition-colors duration-200"
      >
        <ng-icon class="mr-2" name="{{isReading() ? 'heroPause' : 'heroPlay'}}"/>
        {{ isReading() ? 'Pause' : 'Read' }}
      </button>
      <button
        (click)="stopReading()"
        hlmBtn variant="destructive"
        [disabled]="!isReading()"
        class="text-white font-bold py-2 px-4 rounded-md transition-colors duration-200"
      >
        <ng-icon class="mr-2" name="heroStop"/>
        Stop
      </button>
    </div>

    <div class="reader-text text-sm bg-gray-50 border border-gray-200 rounded-md p-4 shadow-sm">
      <span
        *ngFor="let word of words(); let i = index"
        [ngClass]="{
          'highlight': i === currentWordIndex(),
          'mr-1': i < words().length - 1
        }"
        class="inline-block"
      >
        {{ word }}
      </span>
    </div>
  </div>