<section class="h-screen w-screen relative flex justify-center gap-2 items-center">
  <div
  class="dot"></div>
  <div class="flex items-center justify-center gap-2 font-bold absolute top-4 mx-auto shadow-md p-3 bg-white rounded-xl">
    <ng-icon hlm name="lucideAlignCenterVertical" />
    <span class="text-lg">Angular Pipes</span>
  </div>
  <div class="z-30 px-4 md:px-0 rounded-xl flex flex-col gap-4 justify-center items-center">
    <!-- <app-pipe-preview /> -->
    <app-json-pretty />
  </div>
</section>
